<div class="search-screen">
    <div class="search-wrapper">
        <div class="title">
            <h1>The Shoppies</h1>
        </div>
        <div class="search-box">
            <div class="form-group">
                <input class="input" type="text" autocomplete="off" name="search" required>
                <label for="search" class="label-placeholder" >
                    <span class="placeholder">Search OMDP</span>
                </label>
                <div class="suggestions">
                    <ul>
                        <li><p>Star wars</p></li>
                        <!-- <li><p>Batman</p></li> -->
                        <!-- <li><p>Batman</p></li> -->
                        <!-- <li><p>Batman</p></li> -->
                        <!-- <li><p>Batman</p></li> -->
                        <!-- <li><p>Batman</p></li> -->
                        <!-- <li><p>Batman</p></li> -->
                        <!-- <li><p>Batman</p></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <button class="btn">Search</button>
    </div>
</div>
