<div class="search-screen">
    <div class="search-wrapper">
        <div class="title">
            <h1>The Shoppies</h1>
        </div>
        <div class="search-box">
            <div class="form-group" [ngClass]="{'padding-bottom': suggestions.length > 0}">
                <input class="input" type="text" autocomplete="off" name="search" required (keyup)="onKeyUp($event)" #search>
                <label for="search" class="label-placeholder" >
                    <span class="placeholder">Search OMDP</span>
                </label>
                <div class="suggestions" *ngIf="suggestions.length > 0 || loading">
                    <ul>
                        <li class="line"></li>
                        <div class="lds-ring" *ngIf="loading"><div></div><div></div><div></div><div></div></div>
                        <li *ngFor="let suggestion of suggestions; let i=index" class="suggestion" (click)="suggestionClicked(i)">
                            <img *ngIf="suggestion.img" src="{{suggestion.img}}" alt="">
                            <p>{{suggestion.name}} ({{suggestion.year}})</p> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="btn" (click)="onSearch()" [disabled]="!searchValid" [ngClass]="{'btn-disabled': !searchValid}">Search</button>
    </div>
</div>
