<mat-icon (click)="toggle()" class="chosen-movies-toggle" [ngClass]="{'move-nav-label': navActive}">label</mat-icon>
<div class="app-side-bar" [ngClass]="{'nav-active': navActive}">
    <div class="library-item-wrapper" *ngFor="let item of libraryUi; let i = index;">
        <mat-icon class="remove-btn" (click)="removeFromLibrary(i)">remove</mat-icon>
        <img src="{{item}}" alt="" >
    </div>
</div>
<div class="overlay" (click)="overlayClick()" [ngClass]="{'opacity': navActive}" *ngIf="navActive"></div>

<router-outlet></router-outlet>