/* You can add global styles to this file, and also import other style files */

$accent-color: #008060;
$background-colour: rgb(71, 71, 71);
// $background-colour: rgb(255, 255, 255);
$font-color: #000;
html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: $background-colour;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 16px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0
}
a{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    // color: $main-colour;
    // font-family: $main-font;
}
p{
    margin: 0;
}

.github-link {
    color: #fff;
    cursor: pointer;
    // margin-left: 20px;
    // margin-top: 20px;
    position: fixed;
    // right: 47px;
    top: 46px;
    left: 20px;
    // transform: scale(2);
    transition: transform 150ms ease-in-out;
    .icon {
        font-size: 40px;
    }
    &:hover {
        transform: scale(1.1);
    }
}

.my-library-title {
    color: $accent-color;
    font-size: 2rem;
    padding: 0 !important;
    margin-bottom: 20px;
    // margin-top: 20px;
}
.go-to-library {
    margin-bottom: 20px;
    color: #fff;
}

.library-back-btn-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    color: #fff;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    transition: transform 200ms ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}

.my-library-wrapper {
    height: 65vh;
    overflow-y: scroll;
}
.library-top{
    height: 35vh;
    max-height: 200px;
}
.link-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    // margin-left: 40px;
    .link-wrapper {
        max-width: 50vw;
        border-radius: 4px;
        padding: 0 10px;
        height: 100%;
        display: flex;
        box-shadow: 2px 4px 5px 2px rgb(0 0 0 / 20%);
        align-items: center;
        background-color: $background-colour;
        // pointer-events: none;
        .link {
            outline: none;
            border: none;
            color: #fff;
            overflow-y: scroll;
            background-color: $background-colour;
        }
    }
    .btn {
        height: 100%;
        &:hover {
            transform: scale(1);
        }
    }
}


.chosen-movies-toggle{
    font-size: 50px;
    color: $accent-color;
    position: fixed;
    top: 90px;
    right: -20px;
    transition: transform 150ms ease-in-out;
    z-index: 17;
    transform: rotate(180deg);
    cursor: pointer;
}

.numberOfMovies{
    position: fixed;
    top: 65px;
    right: 7px;
    background-color: rgb(221, 7, 7);
    height: 23px;
    width: 23px;
    border-radius: 50%;
    z-index: 17;
    transition: transform 150ms ease-in-out ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.move-num-movies{
    // transform: translateX(-310px)!important ;
    &:hover{
        // transform: translateX(-310px);
        cursor: pointer;
    }
}

.move-nav-label{
    // transform: translateX(-310px) rotate(180deg);
    &:hover{
        // transform: translateX(-310px) rotate(180deg);
        cursor: pointer;
    }
}


.app-side-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
    position: fixed;
    right: -600px;
    top: 0;
    height: 100vh;
    height: 100%;
    transform: translateX(-100%);
    will-change: transform;
    transition: transform 150ms ease-in-out;
    background-color: darken($color: $background-colour, $amount: 3%);
    box-shadow: 2px 4px 5px 2px rgb(0 0 0 / 20%);
    // background-color: rgba(0, 0, 0, 0.247);
    z-index: 17;
    padding-top: 30px;
    overflow-y: auto;
   h2 {
       color: #fff;
       color: $accent-color;
       font-size: 1.5rem;
       margin-bottom: 20px;
   }
}
.nav-active { transform: translateX(-600px); }

.overlay{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // width: 0;
    opacity: 0.2;
    transition: opacity .3s;
    background-color: #000;
    // background-color: red;
    z-index: 16;   
    transition: all 200ms ease-in-out; 
    // background-color: $overlay-colour; 
    // border-color: darken($color: $overlay-colour, $amount: 5%);
}
.modal-overlay{ 
    z-index: 11;   
}

.search-screen{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    // align-items: center;
}

.search-wrapper {
    max-width: 500px;
    width: 90vw;
    // width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    // box-shadow: 2px 4px 5px 2px rgb(0 0 0 / 20%);
    height: fit-content;
    padding: 25px;
    // background-color: darken($color: $background-colour, $amount: 5);
    // background-color: darken($color: $accent-color, $amount: 1);
    border-radius: 4px;
    // $background-colour
}

.title {
    text-align: center;
    width: fit-content;
    color: rgb(190, 190, 190);
    color: rgb(0, 0, 0);
    color: $accent-color;
    h1 {
        font-size: 2rem;
        margin-bottom: 30px;
    }
}

.search-box {
    width: 100%;
    margin-bottom: 20px;
    // height: fit-content;
}

.form-group{
    width: 100%;
    // max-width: 400px;
    position: relative;
    height: 50px;
    box-shadow: 1px 3px 4px 1px rgb(0 0 0 / 30%);
    background-color: rgb(175, 175, 175);
    background-color: darken($color: $background-colour, $amount: 10);
    z-index: 3;
    border-radius: 4px;
    height: fit-content;
    // max-height: 210px;
    input {
        // box-shadow: 1px 3px 4px 1px rgb(0 0 0 / 20%);

        width: 100%;
        // height: 100%;
        height: 50px;
        padding-top: 10px;
        padding: 25px 10px 5px 10px;
        border: none;
        outline: none;
        // background-color: darken($color: $accent-color, $amount: 5);
        // background-color: #fff;
        // background-color: $background-colour;
        // background-color: rgb(175, 175, 175);
        border-radius: 4px;
        // color: lighten($color: $accent-color, $amount: 10);
        background-color: darken($color: $background-colour, $amount: 10);
        color: #000;
        color: #fff;
        color: lighten($color: $background-colour, $amount: 50);

        // caret-color: darken($color: $accent-color, $amount: 50);
        font-size: 1rem;
        // height: 210px;
        &:focus + .label-placeholder .placeholder,
        &:valid + .label-placeholder .placeholder{
            // transform: translateY(-75%) scale(.7) translateX(-23%);
            transform: translateY(-70%);
            font-size: 0.75rem;
        }
    }
    
    label {
        pointer-events: none;
        position: absolute;
        // bottom: 14px;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        color: lighten($color: $accent-color, $amount: 20);
        color: lighten($color: $background-colour, $amount: 20);
        // border-bottom: 1px solid black;        
    }

    .placeholder{
        position: absolute;
        top: 16px;
        left: 10px;
        transition: all 150ms ease;
    }
}

.btn {
    
    outline: none;
    border: none;
    padding: 7px 25px;
    // color: rgb(31, 31, 31);
    color: #000;
    background-color: $accent-color;
    background-color: lighten($color: $accent-color, $amount: 3);
    // background-color: darken($color: rgb(175, 175, 175), $amount: 2);
    border-radius: 4px;
    transition: all 250ms ease-in-out;
    box-shadow: 1px 3px 4px 1px rgb(0 0 0 / 20%);
    &:hover {
        cursor: pointer;
        // background-color: darken($color: $accent-color, $anmount: 0);
        background-color: darken($color: rgb(175, 175, 175), $amount: 5);
        background-color: lighten($color: $accent-color, $amount: 5);
        box-shadow: 2px 4px 5px 2px rgb(0 0 0 / 20%);
        transform: scale(1.05);
    }
}

.suggestions {
    position: relative;
    // background-color: rgb(175, 175, 175);
    // box-shadow: 1px 3px 3px 1px rgb(0 0 0 / 20%);
    // border-radius: 4px;
    z-index: 2;
    // transform: translateY(-5px);
    color: lighten($color: $background-colour, $amount: 50);
    ul {
        display: flex;
        flex-direction: column;
        .lds-ring{
            align-self: center;
        }
        .suggestion {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 5px 10px;
            padding-left: 10px;
            padding-right: 10px;
            transition: all 250ms ease-in-out;
            min-height: 45px;
            &:hover {
                cursor: pointer;
                background-color: darken($color: $background-colour, $amount: 15);
            }
            img {
                width: auto;
                height: 35px;
                margin-right: 10px;
                box-shadow: 1px 3px 4px 1px rgb(0 0 0 / 30%);
                border-radius: 4px;
            }
        }
       .line{
            border-top: 1px solid black;
            // padding-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 5px;
            height: 0;
            &:hover {
                background-color: darken($color: $background-colour, $amount: 10);
                cursor: auto;
            }
        }
    }
    
}

.btn-disabled {
    background-color: darken($color: rgb(175, 175, 175), $amount: 20);
    &:hover {
        transform: scale(1);
        box-shadow: 1px 3px 4px 1px rgb(0 0 0 / 20%);
        background-color: darken($color: rgb(175, 175, 175), $amount: 20);
        cursor: not-allowed;
    }
}

.results-form-group-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    .form-group{
        width: 85%;
        // margin-top: 5px;
        // position: relative;
        position: fixed;
        top: -1px;

        .mat-icon {
            position: absolute;
            top: 15px;
            right: 20px;
            color: $accent-color;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.results-grid-wrapper {
    // width: 90%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.results-wrapper {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(10, fit-content(400px));
    justify-content: center;
    justify-content: space-between;
    // justify-items:center;
    column-gap: auto;
    row-gap: 50px;
    padding-bottom: 50px;
    .lds-ring {
        justify-self: center;
        align-self: center;
    }
    .img-wrapper {
        position: relative;
        transition: all 350ms ease-in-out;
        height: 465px;
        width: 300px;
        box-shadow: 5px 6px 8px 2px rgb(0 0 0 / 20%), inset 100px -50px 250px #000;
        border-radius: 4px;
        .movie-name {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 15px;
            color: #fff;
            // z-index: ;
        }
        &::before {
            content: "";
            // z-index: 10;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 70px;
            border-radius: 4px;
            // background-color: rgba($color: #000000, $alpha: 0);
            // box-shadow: inset 0px -50px 250px #000;
            background: linear-gradient(0deg,#020024,rgba(0,0,1,.8) 50%,hsla(0,0%,100%,0));
            
        }
        &:hover 
        {
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 7px 8px 10px 4px rgb(0 0 0 / 20%), inset 0 -50px 250px #000;
        }
        img {
            height: 465px;
            width: 300px;
            // box-shadow: 5px 6px 8px 2px rgb(0 0 0 / 20%), inset 0 -50px 250px #000;
            // box-shadow: inset 0 50px 250px #000, inset 0 -50px 250px #000;
            border-radius: 4px;
            transition: all 200ms ease-in-out;
            // height: fit-content;
            // width: fit-content;
        }
        .add-btn{
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 50%;
            background-color: rgba($color: $accent-color, $alpha: .8);
            transition: all 200ms ease-in-out;
            height: 30px;
            width: 30px;
            font-size: 30px;
            &:hover{
                background-color: rgba($color: $accent-color, $alpha: 1);
                transform: scale(1.1);
            }
            
        }
        .remove-btn{
            background-color: rgba($color: rgb(150, 4, 4), $alpha: .8);
            &:hover {
                background-color: rgba($color: rgb(150, 4, 4), $alpha: 1);
            }

        }
        .added {
            position: absolute;
            top: 0;
            z-index: 10;
            height: 465px;
            width: 300px;
            background-color: rgba($color: #000000, $alpha: 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            pointer-events: none;
            transition: opacity 150ms ease-in-out;
            opacity: 0;
            .check {
                pointer-events: none;
                color: $accent-color;
                color: lighten($color: $accent-color, $amount: 15) ;
                height: 100px;
                width: 100px;
                font-size: 100px;
            }

        }
    }
    .more {
        height: 465px;
        width: 300px;
        border: rgb(158, 158, 158) dashed 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 150ms ease-in-out;
        box-shadow: 5px 6px 8px 2px rgb(0 0 0 / 20%);
        background-color: $accent-color;
        background-color: rgb(100, 100, 100);
        background-color: #000;
        border-radius: 4px;
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 8px 9px 10px 4px rgb(0 0 0 / 30%);
        }
        p{
            font-size: 3rem;
            color: #fff;
        }
    }
}

.library-item-wrapper{
    position: relative;
    width: 200px;
    height: fit-content;
    margin-bottom: 20px;
    transition: opacity 200ms ease-in-out;
    position: relative;
    &::before {
        content: "";
        // z-index: 10;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        border-radius: 4px;
        // background-color: rgba($color: #000000, $alpha: 0);
        // box-shadow: inset 0px -50px 250px #000;
        background: linear-gradient(0deg,#020024,rgba(0,0,1,.8) 50%,hsla(0,0%,100%,0));
        
    }
    p{
        color: #fff;
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .remove-btn{
        background-color: rgba($color: rgb(150, 4, 4), $alpha: .8);
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        transition: all 200ms ease-in-out;
        &:hover {
            cursor: pointer;
            transform: scale(1.1);
            background-color: rgba($color: rgb(150, 4, 4), $alpha: 1);
        }
        
    }
    img {
        box-shadow: 5px 6px 8px 2px rgb(0 0 0 / 20%);
        width: 200px;
        height: auto;
        border-radius: 4px;
        
    }
}

.hide {
    opacity: 0;
}

.show {
    animation: show 700ms ease-in-out 100ms;
}

@keyframes show {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.mat-dialog-container{
    background-color: $background-colour;
}


.more-info-modal {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    background-color: $background-colour;
    width: 700px;
    height: fit-content;
    transition: all 250ms ease-in-out ;
    box-shadow: 6px 8px 10px 4px rgb(0 0 0 / 20%);
    border-radius: 4px;
    opacity: 0;
    padding: 58px 20px 20px 20px;
    padding: 20px;
    max-width: 700px;
    width: 90vw;
    background-color: $background-colour;
    
    .back-btn {
        // margin-bottom: 10px;
        position: absolute;
        top: 20px;
        right: 22px;
        // z-index: 2;
        // display: none;
        cursor: pointer;
        // margin: 1em;
        background-color: lighten($color: $background-colour, $amount: 25);
        box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 20%);
        border-radius: 50%;
        transition: background 150ms ease-in-out;

        &:hover{
            background-color: lighten($color: $background-colour, $amount: 15);
        }

    }
    .info {
        // padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    img {
        height: 300px;
        max-width: 238px;
        object-fit: contain;
        object-position: center;
        box-shadow: 5px 6px 8px 2px rgb(0 0 0 / 20%);
        border-radius: 4px;
        // margin-right: 50px;
    }

    .movie-data{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .content-wrapper {
            display: flex;
            margin-bottom: 20px;
            
            // justify-content: space-between;
        }
        h3 {
            color: #fff;
            font-size: 1.5rem;
            margin-bottom: 15px;
            max-width: 80%;
        }
        
        .description {
            color: darken($color: $background-colour, $amount: 20);
            min-width: 105px;
        }
        .content {
            color: #fff;
            // text-decoration: underline;
        }
        .add-btn {
            width: 100%;
            height: 30px;
            border: none;
            background-color: $accent-color;
            color: #fff;
            box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 20%);
            transition: all 200ms ease-in-out;
            border-radius: 4px;
            outline: none;
            &:hover {
                background-color: darken($color: $accent-color, $amount: 5);
                box-shadow: 2px 4px 5px 2px rgb(0 0 0 / 20%);
                transform: scale(1.03);
                cursor: pointer;

            }
            
        }
        .remove-btn {
            background-color: rgba($color: rgb(150, 4, 4), $alpha: .8);
            &:hover {
                background-color: rgba($color: rgb(150, 4, 4), $alpha: 1);
            }
        }
        .btn-disabled {
            background-color: darken($color: rgb(175, 175, 175), $amount: 20);
            &:hover {
                transform: scale(1);
                box-shadow: 1px 3px 4px 1px rgb(0 0 0 / 20%);
                background-color: darken($color: rgb(175, 175, 175), $amount: 20);
                cursor: not-allowed;
            }
        }


    }
}

.more-info-modal-active {
    pointer-events:all;
    opacity: 1;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .noResults {
      p{
          text-align: center;
          color: #fff;
          font-size: 1.5rem;
      }
  }
  
  .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
      color: $accent-color;
  }



.results {
    margin-top: 100px;
}

.padding-bottom {
    padding-bottom: 10px;
}


@media(max-width: 3432px){
    .results-wrapper {
        grid-template-columns: repeat(9, fit-content(400px));
    }
}
@media(max-width: 3111px){
    .results-wrapper {
        grid-template-columns: repeat(8, fit-content(400px));
    }
}
@media(max-width: 2814px){
    .results-wrapper {
        grid-template-columns: repeat(7, fit-content(400px));
    }
}
@media(max-width: 2473px){
    .results-wrapper {
        grid-template-columns: repeat(6, fit-content(400px));
    }
}
@media(max-width: 2473px){
    .results-wrapper {
        grid-template-columns: repeat(5, fit-content(400px));
    }
}
@media(max-width: 1720px){
    .results-wrapper {
        grid-template-columns: repeat(4, fit-content(400px));
    }
}
@media(max-width: 1371px){
    .results-wrapper {
        grid-template-columns: repeat(3, fit-content(400px));
    }
}
@media(max-width: 1016px){
    .results-wrapper {
        grid-template-columns: repeat(2, fit-content(400px));
    }
}
// @media(max-width: 680px){
//     .results-wrapper {
//     }
// }

@media(max-width: 1016px){
    .results-wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
        .img-wrapper {
            position: relative;
            transition: all 200ms ease-in-out;
            // height: 465px;
            // width: 300px;
            height: fit-content;
            width: fit-content;
            &:hover 
            {
                cursor: pointer;
                transform: scale(1);
                box-shadow: 8px 9px 10px 4px rgb(0 0 0 / 30%);
            }
            img {
                max-width: 400px;
                width: 70vw;
                height: auto;
            }

            .added {
                height: 100%;
                width: 100%;
                .check {
                    height: 100px;
                    width: 100px;
                    font-size: 100px;
                }
    
            }
        }
        .more {
            width: 70vw;
            max-width: 400px;
            height: 50px;
            border: none;
            p {
                font-size: 2rem;
            }
        }
    }
}

@media(max-width: 670px ), (max-height: 500px){
    .info{
        img {
            display: none;
        }
    }
    .github-link {
        top: 71px;
        left: 20px;
        // transform: scale(2);
        transition: transform 150ms ease-in-out;
        .icon {
            font-size: 30px;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    // .more-info-modal {
    //     .movie-data {
    //         width: 100%;
    //     }
    // }

    .more-info-modal {
        height: 100vh;
        width: 100vw;
        overflow-y: scroll;
        padding: 80px 45px;
        max-width: 100vw;
        .movie-data {
            width: 100%;
        }
        .back-btn{
            top: 80px;
            right: 44px;
        }
    }
}

@media(max-height: 812px){
    .link {
        height: 40px;
        .btn {
            padding: 5px 10px;
        }
    }
    .my-library-wrapper {
        height: 50vh;
        overflow-y: scroll;
    }
}
@media(max-height: 400px){
    .link { height: 30px;}
}


@media(max-height: 500px){
    .search-wrapper {
        margin-top: 0;
    }
    .search-screen {
        align-items: center;
    }
}

.mat-dialog-container{
    // padding-top: 5px !important;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
